{% extends "base.html" %}

{% block content %}
	
	<div class="container">
		<h1>{{ group.name }}</h1>
		<hr>
		<h2>Member Count: {{ group.members.count }} </h2>

		<p>{{ group.description }}</p>

		{% if user in group.members.all %}
			<a href="#" class="btn btn-lg btn-warning"> <span class='glyphicon glyphicon-remove-circle'></span>
				Leave
			</a>
		{% else %}
			<a href="#" class="btn btn-lg btn-info"> 
				<span class='glyphicon glyphicon-ok-circle'></span>
				Join
			</a>
		{% endif %}
	</div>
	
{% endblock  %}
