* {
	margin: 0px; 
	padding: 0px;
}

body {
	font-family: 'Montserrat', sans-serif;
	
}

nav {
	margin: 0; 
	font-family: 'Montserrat', sans-serif;
}
ul {
	margin: auto 0;
	padding: 5px 10px;
	list-style: none;		
	display: table;
	text-align: center; 

}
li {
	display: table-cell; 
	position: relative;
	
}
li a {
	color: #fff!important; 
	font-size: 16px;
	text-decoration: none; 
	letter-spacing: 0.06em; 
	display: inline-block;
	padding: 10px 20px;
	position: relative;
}
li a:after {
	background: none repeat scroll 0 0 trasparent; 
	bottom: 0; 
	content: "";
	display: block; 
	height: 2px; 
	left: 50%; 
	position: absolute; 
	background: #fff; 
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
li a:hover:after {
	width: 100%; 
	left: 0; 
}


@media screen and(max-height: 300px) {
	ul {
		margin-top: 40px; 
	}
}